<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    {% if error %}
        <div class="alert alert-error">{{ error|trans }}</div>
    {% endif %}

    <div class="row-fluid">
        <div class="span12">
            <input class="span12" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
            <input class="span12" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>
            <label for="remember_me" class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                {{ 'security.login.remember_me'|trans }}
            </label>
            <button type="submit" id="_submit" class="btn btn-primary btn-block">{{ 'security.login.submit'|trans }}</button>
        </div>
    </div>

</form>