{% extends 'WormSiteBundle::layout.html.twig' %}

{% block container %}
    <h2>{{ worm ? worm.name : 'Create new worm' }}</h2>

    <form method="post"
          action="{{ worm ? path('wormsite_worm_update', {'id': worm.id}) : path('wormsite_worm_create') }}"
          class="well worm-form">

        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'control-label' }}) }}
                    <div class="controls">
                        {{ form_widget(form.name, {'attr': {'class': 'input-block-level' }}) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.description, null, {'label_attr': {'class': 'control-label' }}) }}
                    <div class="controls">
                        {{ form_widget(form.description, {'attr': {'class': 'input-block-level', 'rows': 6 }}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    {{ form_label(form.mode, null, {'label_attr': {'class': 'control-label' }}) }}
                    <div class="controls">
                        {% for item in form.mode %}
                            <label class="radio inline" for="{{ item.vars.id }}">
                                {{ form_widget(item) }}
                                {{ item.vars.label }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="control-group">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="control-group">
                                {{ form_label(form.width, null, {'label_attr': {'class': 'control-label' }}) }}
                                <div class="controls">
                                    <div class="input-append">
                                        {{ form_widget(form.width, {'attr': {'class': 'input-mini' }}) }}
                                        <span class="add-on">px</span>
                                    </div>
                                    {{ form_errors(form.width) }}
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="control-group">
                                {{ form_label(form.height, null, {'label_attr': {'class': 'control-label' }}) }}
                                <div class="controls">
                                    <div class="input-append">
                                        {{ form_widget(form.height, {'attr': {'class': 'input-mini' }}) }}
                                        <span class="add-on">px</span>
                                    </div>
                                    {{ form_errors(form.height) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    {{ form_label(form.timeLimit, null, {'label_attr': {'class': 'control-label' }}) }}
                    <div class="controls">
                        <div class="input-append">
                            {{ form_widget(form.timeLimit, {'attr': {'class': 'input-mini' }}) }}
                            <span class="add-on">days</span>
                        </div>
                        {{ form_errors(form.timeLimit) }}
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox inline" for="{{ form.uniqueQueue.vars.id }}">
                            {{ form_widget(form.uniqueQueue) }}
                            {{ form.uniqueQueue.vars.label }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <div class="submit">
            {{ form_widget(form._token) }}
            {% if worm %}
                <a href="{{ path('wormsite_worm_view', {'id': worm.id}) }}" class="btn">
                    <i class="icon-chevron-left icon-white"></i>
                    Cancel
                </a>
            {% endif %}
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok icon-white"></i>
                Save
            </button>
        </div>

    </form>
{% endblock %}