{% extends 'WormSiteBundle::layout.html.twig' %}

{% block container %}
    {% if worms|length > 0 %}
        <ul class="worms">
            {% for worm in worms %}
                <li>
                    <a href="{{ path('wormsite_worm_view', {'id': worm.id}) }}">
                        {% if not worm.submissions.empty %}
                            <img src="{{ image_manager.imageUrl(worm.submissions.first)|imagine_filter('worm_squarethumb') }}" alt="{{ worm.name }}"/>
                        {% else %}
                            <img src="" alt="{{ worm.name }}" />
                        {% endif %}
                        <span class="name">
                            <em>{{ worm.name }}</em>
                            - {{ worm.author.username }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}