{% extends 'WormSiteBundle::layout.html.twig' %}

{% block info %}
    <div class="worm-info">
        <a href="{{ path('wormsite_worm_list') }}" class="action-list"><i class="icon-chevron-left"></i></a>
        <strong>{{ worm.name }}</strong> - by {{ worm.author.username }} at {{ worm.createdAt|date('d/m/Y H:i') }}
        - {{ worm.description }}
        {% if worm.author == app.user %}
            <a href="{{ path('wormsite_worm_edit', {'id': worm.id}) }}" class="btn btn-small action-edit">
                <i class="icon-pencil"></i>
                Edit
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block container_class %}
    {{- worm.mode == constant('Worm\\SiteBundle\\Entity\\Worm::MODE_HORIZONTAL') ? 'horizontal' : 'vertical' -}}
{% endblock %}

{% block container %}
    <div class="worm">
        {% spaceless %}
            {% for submission in worm.submissions %}
                <figure>
                    <img src="{{ asset(im.imageUrl(submission)) }}">
                    <figcaption>
                        #{{ loop.index }} &ndash; {{ submission.author.username }}
                        <span class="date">{{ submission.submittedAt|date('d/m/Y H:i') }}</span>
                    </figcaption>
                </figure>
            {% endfor %}

            {% set total = worm.submissions|length %}

            {% for subscription in worm.subscriptions %}
                <figure class="queue">
                    <div class="placeholder" style="height: {{ worm.height }}px; width: {{ worm.width }}px">
                        {% if loop.first and app.user == subscription.user %}
                            {% include 'WormSiteBundle:Worm:_submit.html.twig' with {'worm': worm} %}
                        {% endif %}
                    </div>
                    <figcaption>
                        #{{ total + loop.index }} {{ subscription.user.username }}
                        <span>Deadline : {{ subscription.estimatedDueDate|date('d/m/Y H:i') }}</span>
                    </figcaption>
                </figure>
            {% endfor %}
        {% endspaceless %}
    </div>
{% endblock %}