{% extends 'WormSiteBundle::layout.html.twig' %}

{% block info %}
    <div class="worm-info">
        <a href="{{ path('wormsite_worm_list') }}" class="action-list"><i class="icon-chevron-left icon-white"></i></a>
        <strong>{{ worm.name }}</strong> - by {{ worm.author.username }} at {{ worm.createdAt|date('d/m/Y H:i') }}
        - {{ worm.description }}
        {% if is_granted('WORM_EDIT', worm) %}
            <a href="{{ path('wormsite_worm_edit', {'id': worm.id}) }}" class="btn btn-small action-edit">
                <i class="icon-pencil icon-white"></i>
                Edit
            </a>
        {% endif %}

        {% if is_granted('WORM_SUBSCRIBE', worm) %}
            <form method="post" action="{{ path('wormsite_worm_subscribe', {'id': worm.id}) }}"
                  class="action-subscribe">
                <button type="submit" class="btn btn-small">
                    <i class="icon-leaf icon-white"></i>
                    Subscribe
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block container_class %}
    {{- worm.mode == constant('Worm\\SiteBundle\\Entity\\Worm::MODE_HORIZONTAL') ? 'horizontal' : 'vertical' -}}
{% endblock %}

{% block container %}
    <div class="worm">
        {% spaceless %}
            <div class="worm-wrapper">
                {% for submission in worm.submissions %}
                    <figure>
                        <img src="{{ asset(im.imageUrl(submission)) }}">
                        <figcaption>
                            <a href="{{ path('wormsite_submission_download', {'id': submission.id}) }}"
                               class="download btn btn-small" title="Download"><i class="icon-download icon-white"></i></a>
                            #{{ loop.index }} &ndash; {{ submission.author.username }}
                            <span class="date">{{ submission.submittedAt|date('d/m/Y H:i') }}</span>
                        </figcaption>
                    </figure>
                {% endfor %}

                {% set total = worm.submissions|length %}

                {% for subscription in worm.queue.activeSubscriptions %}
                    {% set dueDate = due_date_resolver.resolve(subscription) %}
                    {% set current = subscription.state == constant('Worm\\SiteBundle\\Entity\\Subscription::STATE_CURRENT') %}
                    <figure class="queue">
                        <div class="placeholder" style="height: {{ worm.height }}px; width: {{ worm.width }}px">
                            {% if is_granted('SUBSCRIPTION_SUBMIT', subscription) %}
                                {% include 'WormSiteBundle:Worm:_submit.html.twig' with {'subscription': subscription} %}
                            {% endif %}
                            {% if is_granted('SUBSCRIPTION_WITHDRAW', subscription) %}
                                {% include 'WormSiteBundle:Worm:_withdraw.html.twig' with {'subscription': subscription} %}
                            {% endif %}
                        </div>
                        <figcaption>
                            #{{ total + loop.index }} {{ subscription.user.username }}
                            <span>Deadline {% if not current %}(estimated){% endif %}
                                : {{ dueDate ? dueDate|date('d/m/Y H:i') : 'n/a' }}</span>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>

            {% if worm.submissions|length == 0 and worm.queue.activeSubscriptions|length == 0 %}
                <p class="empty">There is nothing here.</p>
            {% endif %}
        {% endspaceless %}
    </div>
{% endblock %}